# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log*
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

logs
data

gateway-ops/src/main/resources/public
gateway-ui/dist
gateway-ui/node
gateway-ui/node_modules

